.onmain {
    white-space: nowrap;
    width: 170px;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .head  {
        margin-top: 30px;
    }
    
    .p {
        font-size: 13px;
        padding: 70px;
    }

    .bb {
        display: flex;
        align-items: flex-start;
        margin-left: -20px;
        flex-direction: column;
        margin-top: -70px;
    }

    .aa {
        margin: 10px 60px;
        text-align: center;
        padding: 10px 15px;
    }

    .aa h1, .aa h2 {
        font-size: 20px;
    }

    .w {
        font-size: 30px;
    }

    .image1 {
        width: 60px;
        height: 60px;
        margin-top: -300px;
    }

    .review-goods {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .review-goods2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .good {
        margin: 10px 0;
        text-align: center;
        padding: 10px;
    }

    .good img {
        width: 165px;
        height: auto;
    }

    .tw {
        font-size: 12px;
    }

    h1, h2, h3 {
        font-size: 24px;
    }

    .container {
        padding: 10px;
    }

    .button {
        padding: 10px 20px;
        font-size: 16px;
    }

    .header-index {
        padding: 20px;
        text-align: center;
    }

    .first-index h1, .first-index h2 {
        font-size: 36px;
        margin-bottom: -20px;
    }

    .last   {
        margin-top: 50px;
    }

    .first-index p {
        font-size: 18px;
    }

    .person, .rate, .contact-icon {
        width: 50px;
        height: 50px;
        margin-top: -40px;
    }

    h4  {
        font-size: 18px;
        margin-right: 20px;
    }

    .z  {
        font-size: 24px;
        padding-left: 20px;
    }

    .all {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 40px;
    }

    .second-index {
        margin: 30px -10px -10px -10px;
        padding: 5px;
    }

    .foto1 {
        font-size: 18px;
    }

    .foto2 {
        width: 120px;
        height: 120px;
    }

    .img {
        width: 200px;
        height: 200px;
    }

    .qq {
        grid-template-columns: 1fr;
    }

    .price-panel {
        font-size: 30px;
    }

    .border-in-panel, .border-in-panel-gp, .border-in-panel-tv, .border-in-panel-tablet, .border-in-panel-mt, .border-in-panel-kb, .border-in-panel-hp, .border-in-panel-m, .border-in-panel-usb, .border-in-panel-usb2 {
        padding: 20px;
        margin: 0 -5px;
    }

    .abc, .abc-tv, .abc-tablet, .abc-gp, .abc-gp2, .abc-gp3, .abc-gp4, .abc-gp5, .abc-gp6, .abc-gp7, .abc-pss, .abc-pss2, .abc-usb, .abc-usb2, .abc-usb3, .abc-usb4, .abc-usb5, .abc-pw2, .abc-sp {
        padding-left: 10px;
        margin-top: -300px;
        font-size: 10px;
    }

    .bww, .bww-tablet, .bww-tablet2, .bww-m, .bww-gp {
        font-size: 20px;
        padding: 5px 10px;
        margin-left: 20px;
        margin-top: -40px;
    }

    .onmain {
        margin-right: 0;
        padding: 10px;
        font-size: 14px;
        white-space: nowrap;
    }

    .tree, .treee, .tre, .treeee, .tra {
        font-size: 20px;
    }

    .img-phone, .img-phone2, .img-tv, .img-tablet, .img-tablet2, .img-projector, .img-monitor, .img-kb, .img-kb2, .img-m, .img-m2, .img-gp, .img-pw, .img-sp {
        width: 100%;
        max-width: 200px;
        height: auto;
    }

    .hh, .hh-mini, .hh-pj2, .hh-bigger, .hh-biggest, .hh-bigg, .hh-gp, .hh-gp2 {
        font-size: 10px;
    }

    .form {
        width: 90%;
        margin-left: 5%;
        margin-top: 20px;
        padding: 5px;
        font-size: 18px;
    }

    h1 {
        font-size: 35px;
    }

    input[type="text"], input[type="email"], input[type="password"], select, label {
        font-size: 16px;
    }

    input[value="Зареєструватися"] {
        font-size: 20px;
        padding: 10px;
    }

    .onmain {
        padding: 10px;
        font-size: 14px;
    }

    .first h1 {
        font-size: 36px;
    }

    .first p {
        font-size: 18px;
    }

    .first {
        padding: 30px;
    }

    .images {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 5px;
    }

    .onmain {
        padding: 10px;
        width: 140px;
        font-size: 14px;
        white-space: nowrap;
    }

    footer {
        padding: 5px;
        font-size: 14px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    h1, h2, h3 {
        font-size: 28px;
    }

    .container {
        padding: 20px;
    }

    .button {
        padding: 12px 24px;
        font-size: 18px;
    }

    .header-index {
        padding: 30px;
    }

    .first-index h1, .first-index h2 {
        font-size: 40px;
    }

    .all {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        padding: 20px;
    }

    .qq {
        grid-template-columns: repeat(2, 1fr);
    }

    .border-in-panel, .border-in-panel-gp, .border-in-panel-tv, .border-in-panel-tablet, .border-in-panel-mt, .border-in-panel-kb, .border-in-panel-hp, .border-in-panel-m, .border-in-panel-usb, .border-in-panel-usb2 {
        padding: 40px;
        margin: 0 -10px;
    }

    .abc, .abc-tv, .abc-tablet, .abc-gp, .abc-gp2, .abc-gp3, .abc-gp4, .abc-gp5, .abc-gp6, .abc-gp7, .abc-pss, .abc-pss2, .abc-usb, .abc-usb2, .abc-usb3, .abc-usb4, .abc-usb5, .abc-pw2, .abc-sp {
        padding-left: 200px;
        margin-top: -400px;
        font-size: 12px;
    }

    .img-phone, .img-phone2, .img-tv, .img-tablet, .img-tablet2, .img-projector, .img-monitor, .img-kb, .img-kb2, .img-m, .img-m2, .img-gp, .img-pw, .img-sp {
        width: 80%;
        max-width: 250px;
    }

    .form {
        width: 70%;
        margin-left: 15%;
        font-size: 22px;
    }

    h1 {
        font-size: 40px;
    }

    .images {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 15px;
    }

    .p {
        font-size: 18px;
    }

    .bb {
        display: flex;
        justify-content: space-around;
    }

    .aa {
        margin: 20px;
    }

    .image1 {
        width: 120px;
        height: 120px;
    }

    .good img {
        width: 250px;
    }
}

@media (min-width: 1025px) {
    body {
        font-size: 18px;
    }

    .container {
        padding: 40px;
    }

    .button {
        padding: 15px 30px;
        font-size: 20px;
    }

    .header-index {
        padding: 40px;
    }

    .first-index h1, .first-index h2 {
        font-size: 48px;
    }

    .all {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 20px;
        padding-right: 40px;
    }

    .qq {
        grid-template-columns: repeat(4, 1fr);
    }

    .form {
        width: 400px;
        margin-left: 355px;
        font-size: 25px;
    }

    .images {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }
}
