body {
    background-color: rgb(31, 31, 31);
}

header {
    background-color: rgb(80, 78, 78);
    padding: 40px;
    text-align: center;
}

main {
    background-color: rgb(60, 59, 59);
    margin-top: 3px;
}

.head   {
    text-align: center;
    margin-top: -40px;
    font-family: 'Dancing Script', cursive;
}

.head2  {
    font-size: 20px;
}

.p1 {
    color: rgb(16, 16, 176);
}

.p2 {
    color: rgb(235, 164, 78);
}

.img {
    width: 250px;
    height: 250px;
    cursor: pointer;
    border-radius: 10px;
}

.bww-tablet2    {
    padding: 10px 20px 10px 20px;
    margin-left: 70px;
    margin-top: -20px;
    background: rgba(16, 181, 52, 0.7);
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
}

.bww-tablet2:hover  {
    transition: 0.7s;
    transform:scale(1.2);
}

figcaption  {
    padding: 10px;
    color:rgb(186, 246, 246);
}

#modalToggle {
    display: none;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease;
}

.modal-content {
    background: rgba(82, 88, 95, 0.92); 
    backdrop-filter: blur(5px);
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    transform: scale(0.7);
    opacity: 0;
    transition: 0.25s ease;
    position: relative;
}

#modalToggle:checked ~ .modal {
    opacity: 1;
    pointer-events: auto;
}

#modalToggle:checked ~ .modal .modal-content {
    transform: scale(1);
    opacity: 1;
    width: 1300px;
    height: 600px;
}

.close {
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
    font-size: 22px;
}

figure  {
    text-align: center;
    font-style: italic;
    padding: 20px;
}

.f2 {
    font-size: 25px;
}

.qq {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
}

.qq figure  {
  display: flex;
  flex-direction:  column;
  align-items: center;
}

.img-wrap   {
  height:  220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-wrap img   {
  max-width: 100%;
  max-height: 100%;
}

h1  {
    font-size: 50px;
}

.img2   {
    width: 300px;
    height: 250px;
}

#modalToggle2 {
    display: none;
}

.modal2 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease;
}

.modal-content2 {
    background: rgba(82, 88, 95, 0.92); 
    backdrop-filter: blur(5px);
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    transform: scale(0.7);
    opacity: 0;
    transition: 0.25s ease;
    position: relative;
}

#modalToggle2:checked ~ .modal2 {
    opacity: 1;
    pointer-events: auto;
}

#modalToggle2:checked ~ .modal2 .modal-content2 {
    transform: scale(1);
    opacity: 1;
    width: 1300px;
    height: 600px;
}

#modalToggle3 {
    display: none;
}

.modal3 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease;
}

.modal-content3 {
    background: rgba(82, 88, 95, 0.92); 
    backdrop-filter: blur(5px);
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    transform: scale(0.7);
    opacity: 0;
    transition: 0.25s ease;
    position: relative;
}

#modalToggle3:checked ~ .modal3 {
    opacity: 1;
    pointer-events: auto;
}

#modalToggle3:checked ~ .modal3 .modal-content3 {
    transform: scale(1);
    opacity: 1;
    width: 1300px;
    height: 600px;
}

#modalToggle4 {
    display: none;
}

.modal4 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease;
}

.modal-content4 {
    background: rgba(82, 88, 95, 0.92); 
    backdrop-filter: blur(5px);
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    transform: scale(0.7);
    opacity: 0;
    transition: 0.25s ease;
    position: relative;
}

#modalToggle4:checked ~ .modal4 {
    opacity: 1;
    pointer-events: auto;
}

#modalToggle4:checked ~ .modal4 .modal-content4 {
    transform: scale(1);
    opacity: 1;
    width: 1300px;
    height: 600px;
}

#modalToggle5 {
    display: none;
}

.modal5 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease;
}

.modal-content5 {
    background: rgba(82, 88, 95, 0.92); 
    backdrop-filter: blur(5px);
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    transform: scale(0.7);
    opacity: 0;
    transition: 0.25s ease;
    position: relative;
}

#modalToggle5:checked ~ .modal5 {
    opacity: 1;
    pointer-events: auto;
}

#modalToggle5:checked ~ .modal5 .modal-content5 {
    transform: scale(1);
    opacity: 1;
    width: 1300px;
    height: 600px;
}

#modalToggle6 {
    display: none;
}

.modal6 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease;
}

.modal-content6 {
    background: rgba(82, 88, 95, 0.92); 
    backdrop-filter: blur(5px);
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    transform: scale(0.7);
    opacity: 0;
    transition: 0.25s ease;
    position: relative;
}

#modalToggle6:checked ~ .modal6 {
    opacity: 1;
    pointer-events: auto;
}

#modalToggle6:checked ~ .modal6 .modal-content6 {
    transform: scale(1);
    opacity: 1;
    width: 1300px;
    height: 600px;
}

#modalToggle7 {
    display: none;
}

.modal7 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease;
}

.modal-content7 {
    background: rgba(82, 88, 95, 0.92); 
    backdrop-filter: blur(5px);
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    transform: scale(0.7);
    opacity: 0;
    transition: 0.25s ease;
    position: relative;
}

#modalToggle7:checked ~ .modal7 {
    opacity: 1;
    pointer-events: auto;
}

#modalToggle7:checked ~ .modal7 .modal-content7 {
    transform: scale(1);
    opacity: 1;
    width: 1300px;
    height: 600px;
}

#modalToggle8 {
    display: none;
}

.modal8 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease;
}

.modal-content8 {
    background: rgba(82, 88, 95, 0.92); 
    backdrop-filter: blur(5px);
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    transform: scale(0.7);
    opacity: 0;
    transition: 0.25s ease;
    position: relative;
}

#modalToggle8:checked ~ .modal8 {
    opacity: 1;
    pointer-events: auto;
}

#modalToggle8:checked ~ .modal8 .modal-content8 {
    transform: scale(1);
    opacity: 1;
    width: 1300px;
    height: 600px;
}

.price-panel    {
    font-size: 40px;
}

.f1 , .f2 {
    cursor: pointer;
}

.border-in-panel    {
    padding: 52px;
    margin-right: -15px;
    margin-left: -15px;
}

.border-in-panel-gp    {
    padding: 100px;
    margin-right: -15px;
    margin-left: -15px;
}

.abc    {
    font-size: 12px;
    padding-left: 380px;
    margin-top: -500px;
    text-align: center;
}

.x  {
    text-align: center;
}

.hh {
    font-size: 11px;
    margin-top: -15px;
}

.hh-mini {
    font-size: 10px;
    margin-top: -15px;
}

.bww    {
    padding: 10px 20px 10px 20px;
    margin-left: 70px;
    margin-top: -68px;
    background: rgba(16, 181, 52, 0.7);
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
}

.bww:hover  {
    transition: 0.7s;
    transform:scale(1.2);
}

.onmain {
    background: rgba(156, 39, 176, 0.3);
    border: 3px solid black;
    border-radius: 30px;
    cursor: pointer;
    padding: 20px;
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 1240px;
}

.onmain:hover {
    box-shadow: 0 0 35px rgb(218, 30, 165); 
    transition: 0.3s;
    backdrop-filter: blur(15px);
    transform: scale(1.02);
}

a   {
    text-decoration: none;
}

.tree {
    font-size: 35px;
}

.treee {
    font-size: 45px;
}

.tre {
    font-size: 41px;
}

.treeee {
    font-size: 30px;
}

.tra {
    font-size: 28px;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    box-shadow: 0 -1px 10px #000;
    font-family: 'Dancing Script', cursive;
    padding: 10px;
    color: white;
    margin: 15px -8px -8px -8px;
}

.img-phone {
    width: 151px;
    height: 265px;
    cursor: pointer;
    border-radius: 5px;
}

.img-phone2 {
    width: 207px;
    height: 265px;
    cursor: pointer;
    border-radius: 5px;
}

.img-tv {
    width: 225px;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
}

.border-in-panel-tv    {
    margin-bottom: 170px;
    margin-top: 30px;
    padding: 92px;
    padding-bottom: 140px;
}

.abc-tv    {
    font-size: 12px;
    padding-left: 400px;
    margin-top: -660px;
    text-align: center;
    margin-right: 90px;
}

.img-tablet {
    width: 234px;
    height: 265px;
    cursor: pointer;
    border-radius: 5px;
}

.img-tablet2 {
    width: 263px;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
}

.abc-tablet    {
    font-size: 12px;
    padding-left: 380px;
    margin-top: -500px;
    text-align: center;
    margin-right: 50px;
}

.bww-tablet    {
    padding: 10px 20px 10px 20px;
    margin-left: 70px;
    margin-top: -40px;
    background: rgba(16, 181, 52, 0.7);
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
}

.bww-tablet:hover  {
    transition: 0.7s;
    transform:scale(1.2);
}

.img-projector {
    width: 255px;
    height: 255px;
    cursor: pointer;
    border-radius: 5px;
}

.hh-pj2 {
    font-size: 11px;
    margin-top: 10px;
}

.img-monitor {
    width: 255px;
    height: 215px;
    cursor: pointer;
    border-radius: 5px;
}

.border-in-panel-mt    {
    padding: 72px;
    margin-right: -15px;
    margin-left: -15px;
}

.hh-bigger {
    font-size: 12px;
    margin-top: -15px;
}

.hh-biggest {
    font-size: 14px;
    margin-top: -15px;
}

.hh-bigg {
    font-size: 13px;
    margin-top: -15px;
}

.img-kb {
    width: 255px;
    height: 108px;
    cursor: pointer;
    border-radius: 5px;
}

.img-kb2 {
    width: 255px;
    height: 173px;
    cursor: pointer;
    border-radius: 5px;
}

.border-in-panel-kb    {
    padding: 52px;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 200px;
}

.border-in-panel-kb2    {
    padding: 52px;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 160px;
}

.border-in-panel-hp    {
    padding: 52px;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 140px;
}

.img-m {
    width: 177px;
    height: 255px;
    cursor: pointer;
    border-radius: 5px;
}

.img-m2 {
    width: 160px;
    height: 255px;
    cursor: pointer;
    border-radius: 5px;
}

.bww-m    {
    padding: 10px 20px 10px 20px;
    margin-left: 50px;
    margin-top: -68px;
    background: rgba(16, 181, 52, 0.7);
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
}

.bww-m:hover  {
    transition: 0.7s;
    transform:scale(1.2);
}

.border-in-panel-m    {
    padding: 60px;
    margin-right: -15px;
    margin-left: -15px;
}

.abc-gp {
    font-size: 22px;
    padding-left: 380px;
    margin-top: -500px;
    text-align: center;
}

.abc-gp2 {
    font-size: 17px;
    padding-left: 380px;
    margin-top: -500px;
    text-align: center;
}

.hh-gp  {
    font-size: 20px;
    margin-top: -15px
}

.hh-gp2 {
    font-size: 18px;
    margin-top: -15px
}

.abc-gp3 {
    font-size: 21px;
    padding-left: 380px;
    margin-top: -500px;
    text-align: center;
}

.abc-gp4 {
    font-size: 22px;
    padding-left: 380px;
    margin-top: -530px;
    text-align: center;
}

.abc-gp5 {
    font-size: 22px;
    padding-left: 380px;
    margin-top: -430px;
    text-align: center;
}

.abc-gp6 {
    font-size: 17px;
    padding-left: 420px;
    margin-top: -530px;
    text-align: center;
}

.abc-gp7 {
    font-size: 18px;
    padding-left: 380px;
    margin-top: -485px;
    text-align: center;
}

.img-gp {
    width: 255px;
    height: 189px;
    cursor: pointer;
    border-radius: 5px;
}

.abc-pss    {
    font-size: 12px;
    padding-left: 380px;
    margin-top: -480px;
    text-align: center;
}

.abc-pss2    {
    font-size: 12px;
    padding-left: 380px;
    margin-top: -490px;
    text-align: center;
}

.bww-gp    {
    padding: 10px 20px 10px 20px;
    margin-left: 105px;
    margin-top: -75px;
    background: rgba(16, 181, 52, 0.7);
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
}

.bww-gp:hover  {
    transition: 0.7s;
    transform:scale(1.2);
}

.border-in-panel-usb    {
    padding: 70px;
    margin-right: -15px;
    margin-left: -15px;
}

.abc-usb    {
    font-size: 18px;
    padding-left: 380px;
    margin-top: -520px;
    text-align: center;
}

.abc-usb2 {
    font-size: 18px;
    padding-left: 380px;
    margin-top: -500px;
    text-align: center;
}

.abc-usb3 {
    font-size: 15px;
    padding-left: 380px;
    margin-top: -500px;
    text-align: center;
}

.abc-usb4 {
    font-size: 16px;
    padding-left: 380px;
    margin-top: -470px;
    text-align: center;
}

.abc-usb5 {
    font-size: 18px;
    padding-left: 380px;
    margin-top: -540px;
    text-align: center;
}

.border-in-panel-usb2    {
    padding: 110px;
    margin-right: -15px;
    margin-left: -15px;
}

.img-pw {
    width: 212px;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
}

.abc-pw2 {
    font-size: 17px;
    padding-left: 380px;
    margin-top: -500px;
    text-align: center;
}

.img-sp {
    width: 255px;
    height: 144px;
    cursor: pointer;
    border-radius: 5px;
}

.abc-sp    {
    font-size: 14px;
    padding-left: 380px;
    margin-top: -500px;
    text-align: center;
}
