body {
    background-image: url("Зображення/bgimage8.png");
    background-repeat: no-repeat;
}

.onmain {
    font-family: 'Noto Sans SC', sans-serif;
    background: rgba(156, 39, 176, 0.3);
    border: 3px solid black;
    border-radius: 30px;
    cursor: pointer;
    padding: 20px;
    display: block;
    margin: 10px auto 0;
    width: 150px;
    height: auto;
    color:aliceblue;
    float: left;
}

.onmain:hover {
    box-shadow: 0 0 35px rgb(218, 30, 165); 
    transition: 0.3s;
    backdrop-filter: blur(15px);
    transform: scale(1.02);
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    box-shadow: 0 -1px 10px #000;
    font-family: 'Dancing Script', cursive;
    padding: 10px;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.form {
    color:aliceblue;
    border: 1px solid rgb(206, 58, 228);
    text-align: center;
    padding: 10px;
    display: inline-block;
    margin-top: 30px;
    margin-left: 355px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-size: 25px;
    width: 400px;
    height: auto;
}

input[value="Зареєструватися"]   {
    font-size: 28px;
    font-family: 'Dancing Script', cursive;
    background-color: rgba(156, 39, 176, 0.7);
    color: white;
    border: 2px solid white;
    border-radius: 15px;
}

input[value="Зареєструватися"]:hover {
    box-shadow: 0 0 15px rgb(218, 30, 165); 
    transition: 0.3s;
    backdrop-filter: blur(15px);
    transform: scale(1.15);
}

input {
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(109, 104, 108);
    border: 1px solid white;
}

.yy    {
    width: 80%;     
    box-sizing: border-box;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

label[for="terms"] {
    font-size: 25px;
    cursor: pointer;
    vertical-align: middle;
}

#terms  {  
    width: 22px;
    height: 22px;
    transform: scale(1.4);
    transform-origin: center;
    vertical-align: middle;
    margin-left: 8px;
    accent-color: #9c27b0;
}

#country {
    background-color: rgb(109, 104, 108);
    border: 1px solid white;
    font-size: 20px;
    margin-top: 5px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

input[name="gender"]    {
    transform: scale(1.7);
    transform-origin: center;
    margin: 0 7px;
    vertical-align: middle;
    accent-color: #9c27b0;
}
